@model IEnumerable<DAL.Entities.Appoinment>
@{
    ViewData["Title"] = "Index";
}

<h1>Appointments</h1>

<table class="table table-striped">
    <thead>
        <tr>





        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Name</td>
                <td>@item.AppointmentTime</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Doctor.UserName</td>

            </tr>



        }
    </tbody>
</table>